body {
  background-color: #32373c;
  color: white;
}

h2 {
  color: #82b941;
}

pre {
  background-color: white;
  border-radius: 10px;
  border: 10px solid #82b941;
  padding: 10px;
  color: black;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('Ubuntu-Regular.ttf') format('truetype');
  font-style: normal;
}

